<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594753212658-53ofn01rk4gc941kgtfkifb8pd1k61sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594753212658-53ofn01rk4gc941kgtfkifb8pd1k61sc</string>
	<key>API_KEY</key>
	<string>AIzaSyAHyB1490o7wLbtt10ndschuKtWVXqHxlc</string>
	<key>GCM_SENDER_ID</key>
	<string>594753212658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidbratton.AllDone</string>
	<key>PROJECT_ID</key>
	<string>alldone-149d1</string>
	<key>STORAGE_BUCKET</key>
	<string>alldone-149d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594753212658:ios:67c0e67bb06aba485e406b</string>
</dict>
</plist>